html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: lightgray;
    color: black;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }

  button {
    height: 60px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 2rem;
    outline: none;
  }

  button:hover {
      border-color: black;
      filter: brightness(92%);
      font-size: 2.2rem;
  }
  
  .key-div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding: 20px;
  }

  #all-clear {
      grid-column: 1 / 5;
  }

  #equals {
      grid-column: 3 / 5;
  }

  .gold {
      background-color: #FFD166;
  }

  .green {
      background-color: #06D6A0;
  }

  .red {
      background-color: #EF476F;
  }
